.root {
    text-align: center;
    position: relative;
    padding: 0 20px;
}

.root h1 {
    font-size: 30px;
    margin-top: 15px;
}

.root div {
    font-size: 18px;
}

.root button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 40px;
    margin-top: 10px;
}

.red {
    color: red;
}

.star-container {
    position: absolute;
    right: 0;
    cursor: pointer;
}