.container {
    position: relative;
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

.item {
    display: inline-block;
}

.list {
    list-style: none;
}

.list li {
    cursor: pointer;
}

.list li:hover {
    background-color: whitesmoke;
}

.list-wrapper {
    position: absolute;
    z-index: 1000;
    top: 25px;
    left: 0;
    background-color: white;
    width: 250px;
}

a {
    text-decoration: none;
    color: inherit;
}
