.container {
    position: relative;
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

.item {
    display: inline-block;
}

.list {
    list-style: none;
}

.list-wrapper {
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background-color: white;
    width: 250px;
}
