<footer class="footer-container">
    <div class="footer-icons">
        <fa-icon class="fa-2x" [icon]="faFacebook"></fa-icon>
        <fa-icon class="fa-2x" [icon]="faTwitter"></fa-icon>
        <fa-icon class="fa-2x" [icon]="faInstagram"></fa-icon>
        <fa-icon class="fa-2x" [icon]="faYoutube"></fa-icon>
        <fa-icon class="fa-2x" [icon]="faPinterest"></fa-icon>
    </div>
    <p>O conteúdo deste site está protegido por copyright e é propriedade da H & M Hennes & Mauritz AB. O conceito de negócio da H&M é a oferta de moda e qualidade aos melhores preços, de forma sustentável. Desde que foi fundada, em 1947, a H&M tornou-se uma das maiores empresas de moda do mundo.</p>
</footer>

