<nav class="container">
  <app-dropdown-item [title]="'Homem'" [dropdownList]="menSubmenu"></app-dropdown-item>
  <div>|</div>
  <app-dropdown-item [title]="'Mulher'" [dropdownList]="womenSubmenu"></app-dropdown-item>
  <div>
    <img src="{{ logoHM }}" alt="logoHM" class="logoHM">
  </div>
  <app-dropdown-item [title]="'Criança'" [dropdownList]="childrenSubmenu"></app-dropdown-item>
  <div>|</div>
  <app-dropdown-item [title]="'Acessórios'" [dropdownList]="acessoriesSubmenu"></app-dropdown-item>

  <div class="nav-icons">
    <!-- If user isn't logged -->
    <div *ngIf="!isUserLogged" (click)="openRegisterModal()" class="nav-registo">
      <fa-icon [icon]="faUserPlus"></fa-icon>
    </div>
    <div *ngIf="!isUserLogged" (click)="openLoginModal()" class="nav-login">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </div>
    <!-- If user is logged -->
    <div *ngIf="isUserLogged">
      Bem-vindo(a) {{ username }}!
    </div>
    <div *ngIf="isUserLogged">
      <fa-icon [icon]="faClipboardList"></fa-icon>
    </div>
    <div *ngIf="isUserLogged">
      <a [routerLink]="['profile']">
        <fa-icon [icon]="faUser"></fa-icon>
      </a>
    </div>
    <div *ngIf="isUserLogged" (click)="logoutUser()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </div>
  </div>
  <app-login (onLogUser)="loginUser()" (onCloseModal)="closeLoginModal()" *ngIf="isLoginOpen"></app-login>
  <app-register (onCloseModal)="closeRegisterModal()" *ngIf="isRegisterOpen"></app-register>
</nav>
