.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.logoHM {
    width: 100px;
}

.nav-icons {
    position: absolute;
    display: flex;
    right: 0;
    gap: 15px;
}

