<h1>DESTAQUES</h1>
<div>
    <img src="/src/assets/contrast_panel_short_sleeve_shirt_1.jpg" alt="highligths1">
    <img src="/src/assets/cropped_straight_leg_chinos_1.jpg" alt="highligths2">
    <img src="/src/assets/oversized_hooded_jacket_1.jpg" alt="highligths3">
    <img src="/src/assets/intarsia_paisley_logo_windbreaker_1.jpg" alt="highligths4">
</div>
<div>
    <img src="/src/assets/lhotse_padded_jacket_1.jpg" alt="highligths5">
    <img src="/" alt="highligths6">
    <img src="" alt="highligths7">
    <img src="" alt="highligths8">
</div>