<div class="form">
    <span (click)="closeModal()" id="close-form">X</span>
    <h1>Controlo de Acessos</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label>E-mail:</label>
            <input formControlName="email" type="email" required>
            <div *ngIf="submitted && f['email'].errors" class="error">
                Email é um campo obrigatório!
            </div>
        </div>
        <div>
            <label>Senha:</label>
            <input formControlName="password" type="password" required>
            <div *ngIf="submitted && f['password'].errors" class="error">
                Senha é um campo obrigatório!
            </div>
        </div>
        <div>
            <input type="submit" id="btSubmit" value="Validar">
        </div>
    </form>
</div>
