<div class="highlights-container">
    <h1>DESTAQUES</h1>
    <div class="highlights-list">
       <app-highlight-item 
       *ngFor="let product of products"
       [product]="product"
       ></app-highlight-item>
    </div>
    <!-- <div>
        <img src="assets/contrast_panel_short_sleeve_shirt_1.jpg" alt="highlights1">
        <img src="assets/cropped_straight_leg_chinos_1.jpg" alt="highlights2">
        <img src="assets/oversized_hooded_jacket_1.jpg" alt="highlights3">
        <img src="assets/intarsia_paisley_logo_windbreaker_1.jpg" alt="highlights4">
    </div>
    <div>
        <img src="assets/lhotse_padded_jacket_1.jpg" alt="highlights5">
        <img src="assets/logo_print_hoodie_1.jpg" alt="highlights6">
        <img src="assets/oversized_padded_coat_1.jpg" alt="highlights7">
        <img src="assets/long_straight_cut_jeans_1.jpg" alt="highlights8">
    </div> -->
</div>